<html>
  <body>
    <h2>god</h2>
    {{range .}}
      {{with .Author}}
        <p><b>{{.}}</b> wrote:</p>
      {{else}}
        <p>An anonymous person wrote:</p>
      {{end}}
      <pre>{{.Content}}</pre>
    {{end}}
    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <form action="/post" method="post">
<div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Post"></div>
    </form>
  </body>
</html>
