{{define "title"}}Manage Page - Admin{{end}}

{{define "body"}}
	<div>
		<h2>Page List</h2>
		{{if .page_list}}
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
				<th>#</th>
				<th>title</th>
				<th>attachments</th>
				<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{{range $i, $p := .page_list}}
				<tr>
					<td>{{$i}}</td>
					<td><a href="/page/{{$p.ID}}" title="view page">{{$p.Title}}</a></td>
					<td></td>
					<td><a href="/admin/page/edit?page-id={{$p.ID}}"><i class="icon-edit"></i></a></td>
				</tr>
				{{end}}
			</tbody>
		</table>
		{{else}}
		<div>No Page Found</div>
		{{end}}
		<div><a href="/admin/page/edit">New Page</a></div>
	</div>
{{end}}

{{define "extrahead"}}{{end}}

{{define "extrabody"}}{{end}}
