{{define "title"}}Edit Page - Admin{{end}}

{{define "body"}}
	<div><a href="/admin/page/">Page List</a></div>
	<div>
		<form name="page-form" method="POST" action="/admin/page/edit{{if .pageID}}?page-id={{.pageID}}{{end}}">
		<fieldset>
			<legend>Edit Page</legend>
			<label for="page-title" placeholder="Page Title...">Title:</label>
			<input id="page-title" type="text" name="page-title" value="{{.pageTitle}}">
			<label for="page-content">Page Content</label>
			<textarea id="page-content" name="page-content" rows="10" class="input-block-level">{{.pageContent}}</textarea>
			<div class="form-actions">
				<button type="submit" name="submit" class="btn btn-primary">Save</button>
			</div>
		</fieldset>
		</form>
	</div>
{{end}}

{{define "extrahead"}}{{end}}

{{define "extrabody"}}{{end}}
