{{define "FOOTER"}}
	</div><!-- #main -->

	<div id="footer" role="contentinfo">
		<div id="colophon">

<!-- get_sidebar( 'footer' ); -->

			<div id="site-info">
				<a href="{{.Blog.siteurl}}/" title="{{.Blog.name}}" rel="home">Home
				</a> | 
				<span>Themed from</span> <a href="http://wordpress.org/themes/twentyten">Twenty Ten</a>
			</div><!-- #site-info -->

			<div id="site-generator">
				<img src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" />
			</div><!-- #site-generator -->

		</div><!-- #colophon -->
	</div><!-- #footer -->

</div><!-- #wrapper -->
<!-- wp_footer(); -->
</body>
</html>
{{end}}
