{{define "FOOTER"}}
	</div><!-- #main -->

	<div id="footer" role="contentinfo">
		<div id="colophon">

<!-- get_sidebar( 'footer' ); -->

			<div id="site-info">
				<a href="{{.blog.siteurl}}/" title="{{.blog.name}}" rel="home">
					{{.Blog.siteurl}}
				</a>
			</div><!-- #site-info -->

			<div id="site-generator">
				<a href="http://wordpress.org/" title="Semantic Personal Publishing Platform" rel="generator">Proudly powered by WordPress</a>
			</div><!-- #site-generator -->

		</div><!-- #colophon -->
	</div><!-- #footer -->

</div><!-- #wrapper -->
<!-- wp_footer(); -->
</body>
</html>
{{end}}
