{{define "LOOP-SINGLE"}}

{{range .Posts}}
				<div id="nav-above" class="navigation">
					<div class="nav-previous"><a href="#" rel="prev"><span class="meta-nav">&larr;</span> prev title</a></div>
					<div class="nav-next"></div>
				</div><!-- #nav-above -->

				<div id="post-{{.ID}}" class="hentry">
					<h1 class="entry-title">{{.Title}}</h1>

					<div class="entry-meta">
						<span class="meta-prep meta-prep-author">Posted on</span> <span class="entry-date">{{.DispCreatedTime }}</span> <span class="meta-sep">by</span> <span class="author vcard">{{ .AuthorObj.Nicename }}</span>
					</div><!-- .entry-meta -->

					<div class="entry-content">
						{{.HTMLContent}}
					</div><!-- .entry-content -->

					<div class="entry-utility">
						Bookmark the <a href="{{.GetPermalink}}" title="Permalink to {{.Title}}" rel="bookmark">permalink</a>.
					</div><!-- .entry-utility -->
				</div><!-- #post-## -->

				<div id="nav-below" class="navigation">
					<div class="nav-previous">&larr;</span>Prev Title</div>
					<div class="nav-next">Next Title <span class="meta-nav">&rarr;</span></div>
				</div><!-- #nav-below -->

				{{template "COMMENTS" .}}
{{end}}
{{end}}
