{{define "SIDEBAR"}}

		<div id="primary" class="widget-area" role="complementary">
			<ul class="xoxo">

			<li id="search" class="widget-container widget_search">
				<form role="search" method="get" id="searchform" action="/">
				    <div><label class="screen-reader-text" for="s">Search for:</label>
					<input type="text" value="" name="s" id="s" />
					<input type="submit" id="searchsubmit" value="Search" />
				    </div>
				</form>
			</li>

			<li id="archives" class="widget-container">
				<h3 class="widget-title">Archives</h3>
				<ul>
					<li>no</li>
				</ul>
			</li>

			<li id="categories" class="widget-container">
				<h3 class="widget-title">Categories</h3>
				<ul>
					{{range .Categories}}
					<li><a title="View all posts filed under {{.Name}}" href="/post?category={{.ID}}">{{.Name}}</a></li>
					{{end}}
				</ul>
			</li>

			<li id="meta" class="widget-container">
				<h3 class="widget-title">Meta</h3>
				<ul>
					<li><a href="/admin">Site Admin</a></li>
				</ul>
			</li>

			</ul>
		</div><!-- #primary .widget-area -->

{{end}}
